<div  ng-cloak="" layout-gt-sm="row" layout="column" class="listdemoBasicUsage" ng-if="project.id && project.sprints">

<!-- List of items-->
  <div flex-gt-sm="25" flex="">
    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>TODO</span>
      </div>
    </md-toolbar>
    <md-content>
      <md-list flex="" dragula='"bag-TODO"'>
        <md-list-item class="md-3-line md-long-text">
          <i class="md-avatar material-icons md-24" md-svg-icon="face" alt="Item 1">face</i>
          <!--md-icon md-svg-icon="face"></md-icon-->
          <div class="md-list-item-text">
            <h3>Item todo 1</h3>
            <p>
              This is the description if the item: "Item todo 1".
            </p>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line md-long-text">
          <i class="md-avatar material-icons md-24" md-svg-icon="label" alt="Item 2">label</i>
          <div class="md-list-item-text">
            <h3>Item todo 2</h3>
            <p>
              This is the description if the item: "Item todo 2".
            </p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
</div>
