<div >
  <md-content class="md-padding" id='md-content-all'>
    <div layout="column" layout-gt-xs="row" >

<!-- List of Projects -->
      <md-card flex flex-gt-xs="20">
        <h2 align="center">List of projects:</h2>
        <md-card-content>
          <p ng-repeat="project in projects">
            <md-button ui-sref-active="active" ui-sref="projectCard({ projectID: project.id })">
            <!--md-button ui-sref-active="active" ui-sref="projectCard({ projectID: project.id })"-->
            <!--md-button ui-sref-active="active" ui-sref="projects.projectCard({ projectId: project.id })"-->
              {{project.title}}
            </md-button>
          </p>
        </md-card-content>
      </md-card>
</div>
