<md-content class="md-padding" id='md-content-all' ng-controller="projectsList">
  <div layout="column" layout-gt-xs="row" >
    <md-card flex flex-gt-xs="20">
      <h2>List of projects:</h2>
      <md-card-content>
        <p ng-repeat="project in projectsList">
          <md-button ng-click="select(project.id)">
            {{project.title}}
          </md-button>
        </p>
      </md-card-content>
    </md-card>

    <md-card flex ng-if="project.id">
      <md-card-content>
          <div>
            <strong>Title:</strong> &nbsp;&nbsp;
            <md-input-container>
              <input  aria-label="Title" ng-model="project.title">
            </md-input-container>
          </div>
          <div>
            <strong>Description:</strong> &nbsp;&nbsp;
            <md-input-container>
              <textarea aria-label="Description" ng-model="project.description"></textarea>
            </md-input-container>
          </div>
          <div>
            <strong>Tags:</strong> &nbsp;&nbsp;
            <md-input-container>
                  <md-chips ng-model="project.tags" readonly="ctrl.readonly" md-removable="ctrl.removable"></md-chips>
            </md-input-container>
          </div>
      </md-card-content>
    </md-card>
  </div>

  <div layout="column" layout-gt-xs="row" ng-if="project.id">
    <md-card flex ng-if="!project.sprints">
      <md-card-content >
        <p> No sprint declared for project '{{project.title}}'</p>
      </md-card-content>
    </md-card>
    <md-card flex flex-gt-xs="20" ng-if="project.sprints">
      <h2>List of sprints:</h2>
      <md-card-content ng-if="project.sprints">
        <p ng-repeat="sprint in project.sprints">
          <md-button ng-click="selectSprint(sprint.id)">
            {{sprint.name}}
          </md-button>
        </p>
      </md-card-content>
    </md-card>

    <md-card flex ng-if="project.sprints">
      <h2>Todo</h2>
      <md-card-content ng-if="project.sprints">
      </md-card-content>
    </md-card>
    <md-card flex ng-if="project.sprints">
      <h2>In progress</h2>
      <md-card-content ng-if="project.sprints">
      </md-card-content>
    </md-card>
    <md-card flex ng-if="project.sprints">
      <h2>Completed</h2>
      <md-card-content ng-if="project.sprints">
      </md-card-content>
    </md-card>
  </div>
</md-content>
